# CEIS110 Module 6.1 - Python Modules - Intro to Pandas

Author: Prof. Oscar Trevizo

Date: April 5, 2024

## Reference
- https://pandas.pydata.org/docs/
- https://pandas.pydata.org/pandas-docs/stable/reference/general_functions.html
- https://pandas.pydata.org/docs/reference/io.html
- https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [1]:
import pandas as pd

In [2]:
# Expolre properties and methids
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [3]:
# Let's build a DataFrame.
# To do that, we need data. the data that will be contained in the DataFrame columns

first_name = ["Joan", "Mary", "Vijay ", "Rob",
              "Martha", "Josh", "Vicky", "Mario", "Jenny", "Joe"]
last_name = ["T", "K ", "N ", "R ", "L", "F ", "R", "L", "T", "P"]
score_1 = [91, 83, 95, 72, 91, 85, 89, 82, 80, 79]
score_2 = [91, 85, 90, 81, 95, 92, 88, 94, 78, 75]

classroom = {'First Name': first_name, 'Last Name': last_name,
              'Score 1': score_1, 'Score 2': score_2}

In [5]:
type(classroom)

dict

In [6]:
# Now I can build a DataFrame.
# https://pandas.pydata.org/docs/reference/frame.html
    
df= pd.DataFrame(classroom)

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
# DataFrame properties, attributes, and methods
dir(df)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__dataframe_consortium_standard__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_arith_method_with_reindex',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_from_mgr',
 '_constructor_sliced',
 '_constructor_sliced_from_mgr',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_flex_arith_method',
 '_flex_cmp_method',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_maybe_align_series_as_frame',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_shift_with_freq',
 '_should_reindex_frame_op',
 '_slice',
 '_sliced_from_mgr',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [9]:
df.head()

  First Name Last Name  Score 1  Score 2
0       Joan         T       91       91
1       Mary        K        83       85
2     Vijay         N        95       90
3        Rob        R        72       81
4     Martha         L       91       95

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  10 non-null     object
 1   Last Name   10 non-null     object
 2   Score 1     10 non-null     int64
 3   Score 2     10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes

In [11]:
df.shape

(10, 4)

In [12]:
df.describe()

         Score 1  Score 2
count  10.000000  10.0000
mean   84.700000  86.9000
std     6.912951   6.9033
min    72.000000  75.0000
25%    80.500000  82.0000
50%    84.000000  89.0000
75%    90.500000  91.7500
max    95.000000  95.0000

# Pandas I/O: Reading CSV files

Source: 
- https://pandas.pydata.org/pandas-docs/stable/reference/io.html
- "Kaggle" (accessed Mar. 20, 2022) https://www.kaggle.com/ 
- https://www.kaggle.com/datasets/rishidamarla/fifa-players-ratings
- https://pandas.pydata.org/pandas-docs/stable/reference/io.html

In [13]:
# Read the csv file
fifa_data = pd.read_csv('fifa_cleaned.csv')

In [14]:
fifa_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 92 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             17954 non-null  int64
 1   name                           17954 non-null  object
 2   full_name                      17954 non-null  object
 3   birth_date                     17954 non-null  object
 4   age                            17954 non-null  int64
 5   height_cm                      17954 non-null  float64
 6   weight_kgs                     17954 non-null  float64
 7   positions                      17954 non-null  object
 8   nationality                    17954 non-null  object
 9   overall_rating                 17954 non-null  int64
 10  potential                      17954 non-null  int64
 11  value_euro                     17699 non-null  float64
 12  wage_euro                      17708 non-null  float64
 13  preferred_foot                 17954 non-null  object
 14  international_reputation(1-5)  17954 non-null  int64
 15  weak_foot(1-5)                 17954 non-null  int64
 16  skill_moves(1-5)               17954 non-null  int64
 17  work_rate                      17954 non-null  object
 18  body_type                      17954 non-null  object
 19  release_clause_euro            16117 non-null  float64
 20  club_team                      17940 non-null  object
 21  club_rating                    17940 non-null  float64
 22  club_position                  17940 non-null  object
 23  club_jersey_number             17940 non-null  float64
 24  club_join_date                 16018 non-null  object
 25  contract_end_year              17593 non-null  object
 26  national_team                  857 non-null    object
 27  national_rating                857 non-null    float64
 28  national_team_position         857 non-null    object
 29  national_jersey_number         857 non-null    float64
 30  crossing                       17954 non-null  int64
 31  finishing                      17954 non-null  int64
 32  heading_accuracy               17954 non-null  int64
 33  short_passing                  17954 non-null  int64
 34  volleys                        17954 non-null  int64
 35  dribbling                      17954 non-null  int64
 36  curve                          17954 non-null  int64
 37  freekick_accuracy              17954 non-null  int64
 38  long_passing                   17954 non-null  int64
 39  ball_control                   17954 non-null  int64
 40  acceleration                   17954 non-null  int64
 41  sprint_speed                   17954 non-null  int64
 42  agility                        17954 non-null  int64
 43  reactions                      17954 non-null  int64
 44  balance                        17954 non-null  int64
 45  shot_power                     17954 non-null  int64
 46  jumping                        17954 non-null  int64
 47  stamina                        17954 non-null  int64
 48  strength                       17954 non-null  int64
 49  long_shots                     17954 non-null  int64
 50  aggression                     17954 non-null  int64
 51  interceptions                  17954 non-null  int64
 52  positioning                    17954 non-null  int64
 53  vision                         17954 non-null  int64
 54  penalties                      17954 non-null  int64
 55  composure                      17954 non-null  int64
 56  marking                        17954 non-null  int64
 57  standing_tackle                17954 non-null  int64
 58  sliding_tackle                 17954 non-null  int64
 59  GK_diving                      17954 non-null  int64
 60  GK_handling                    17954 non-null  int64
 61  GK_kicking                     17954 non-null  int64
 62  GK_positioning                 17954 non-null  int64
 63  GK_reflexes                    17954 non-null  int64
 64  tags                           1417 non-null   object
 65  traits                         8137 non-null   object
 66  LS                             15889 non-null  object
 67  ST                             15889 non-null  object
 68  RS                             15889 non-null  object
 69  LW                             15889 non-null  object
 70  LF                             15889 non-null  object
 71  CF                             15889 non-null  object
 72  RF                             15889 non-null  object
 73  RW                             15889 non-null  object
 74  LAM                            15889 non-null  object
 75  CAM                            15889 non-null  object
 76  RAM                            15889 non-null  object
 77  LM                             15889 non-null  object
 78  LCM                            15889 non-null  object
 79  CM                             15889 non-null  object
 80  RCM                            15889 non-null  object
 81  RM                             15889 non-null  object
 82  LWB                            15889 non-null  object
 83  LDM                            15889 non-null  object
 84  CDM                            15889 non-null  object
 85  RDM                            15889 non-null  object
 86  RWB                            15889 non-null  object
 87  LB                             15889 non-null  object
 88  LCB                            15889 non-null  object
 89  CB                             15889 non-null  object
 90  RCB                            15889 non-null  object
 91  RB                             15889 non-null  object
dtypes: float64(9), int64(41), object(42)
memory usage: 12.6+ MB

In [15]:
fifa_data = pd.read_csv('fifa_cleaned.csv', usecols = ['id', 'name', 'birth_date', 'age',
                                                'height_cm', 'weight_kgs', 'positions',
                                                'club_team', 'national_team', 'overall_rating',
                                                'wage_euro'])

In [16]:
fifa_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              17954 non-null  int64
 1   name            17954 non-null  object
 2   birth_date      17954 non-null  object
 3   age             17954 non-null  int64
 4   height_cm       17954 non-null  float64
 5   weight_kgs      17954 non-null  float64
 6   positions       17954 non-null  object
 7   overall_rating  17954 non-null  int64
 8   wage_euro       17708 non-null  float64
 9   club_team       17940 non-null  object
 10  national_team   857 non-null    object
dtypes: float64(3), int64(3), object(5)
memory usage: 1.5+ MB

In [17]:
fifa_data.head()

,id,name,birth_date,age,height_cm,weight_kgs,positions,overall_rating,wage_euro,club_team,national_team
0,158023,L. Messi,1987-06-24,31,170.18,72.1,"CF,RW,ST",94,565000.0,FC Barcelona,Argentina
1,190460,C. Eriksen,1992-02-14,27,154.94,76.2,"CAM,RM,CM",88,205000.0,Tottenham Hotspur,Denmark
2,195864,P. Pogba,1993-03-15,25,190.50,83.9,"CM,CAM",88,255000.0,Manchester United,France
3,198219,L. Insigne,1991-06-04,27,162.56,59.0,"LW,ST",88,165000.0,Napoli,Italy
4,201024,K. Koulibaly,1991-06-20,27,187.96,88.9,CB,88,135000.0,Napoli,NaN

In [18]:
fifa_data.shape

(17954, 11)

In [19]:
fifa_data.describe()

,id,age,height_cm,weight_kgs,overall_rating,wage_euro
count,17954.000000,17954.000000,17954.000000,17954.000000,17954.000000,17708.000000
mean,215411.087780,25.565445,174.946921,75.301047,66.240169,9902.134628
std,29758.387106,4.705708,14.029449,7.083684,6.963730,21995.593750
min,16.000000,17.000000,152.400000,49.900000,47.000000,1000.000000
25%,201117.250000,22.000000,154.940000,69.900000,62.000000,1000.000000
50%,222919.000000,25.000000,175.260000,74.800000,66.000000,3000.000000
75%,237613.500000,29.000000,185.420000,79.800000,71.000000,9000.000000
max,247607.000000,46.000000,205.740000,110.200000,94.000000,565000.000000